body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 90%;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info-text {
  font-size: 60px;
}
.info-number {
  margin-top: 40px;
  font-size: 30px;
}

footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.darkModeButtonContainer {
  position: absolute;
  background-color: rgb(180, 180, 180);
  right: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}
* {
  transition: all 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .info-text {
    font-size: 35px;
  }
  .container {
    flex-direction: column;
  }
  .info-number {
    margin-top: 20px;
  }
}
